* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .circle1 {
    box-shadow: 0 0 50px #d84869;
    background: linear-gradient(-25deg, #d84869, #f46641);
    animation: circle1Animate 11s infinite;
  }

  @keyframes circle1Animate {
    50%{
        left : 25%;
        top:10%;
        scale:1.11;
    }
  }

  .circle2 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 15em;
    height: 15em;
    border-radius: 50%;
    box-shadow: 0 0 50px #5648d8;
    background: linear-gradient(-25deg, #5648d8, #8641f4);
    animation: circle2Animate 11s infinite;
  }
  @keyframes circle2Animate {
    50% {
      bottom:20%;
      right: 20%;
    }
  }

  .icon {
    padding: 25px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
    justify-content: center;
    transition: all 0.5s;
    margin-bottom: 25px;
    text-decoration: none;
  }
  .icon i {
    font-size: 27px;
  }


  #facebook:hover {
    background-color: #1771e6;
    color: #fff;
  }
 
  #twitter:hover {
    background-color: #1c99e6;
    color: #fff;
  }

  #instagram:hover {
    background-color: #cb2770;
    color: #fff;
  }

  #whatsapp:hover {
    background-color: #2fe664;
    color: #fff;
  }
 
  #telegram:hover {
    background-color: #0081c2;
    color: #fff;
  }

  .modal1{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 2px solid #ffffff59;
    width: 500px;
    scale: 0;
    background: #00000088;
    backdrop-filter: blur(10px);
    color: white;
    z-index: 1;
    padding: 20px 25px;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
  }

  .active {
    scale: 1;
  }
 


.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 100%;
  top:0%;
  left: 0%;
  height: 35px;
  z-index: -1000;
  background-repeat: no-repeat;
}
.button.animate::before {
  top: 10%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  animation: greentopBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.button.animate::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  animation: greenbottomBubbles ease-in-out 0.6s forwards infinite;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
 

.project-heading{
    color:var(--bgOrange);
      text-align:center;
      /* padding-top:80px; */
  }

  .input{
    width: 100%;
    margin: 0.8em auto;
    padding: 0.8em;
    border: none;
    border-radius: 1em;
    box-shadow: 0px 0px 10px var(--bgOrange);
    outline: none;
  }
  
  .msg:hover{
    border-radius: 0%;
  } 
